<ul *ngIf="pages.length > 0" class="pagination">
  <li class="page-item" *ngIf="paginator.number > 0">
    <a class="page-link" [routerLink]="['/clientes/page', paginator.number - 1]">&laquo;</a>
  </li>

  <li class="page-item" *ngIf="paginator.first" [ngClass]="paginator.number == 0?'disabled page-item':'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', 0]">First page</a>
  </li>

  <li *ngFor="let page of pages" class="page-item" [ngClass]="page-1 == paginator.number?'active':''">
    <span class="page-link" *ngIf="page-1==paginator.number">{{page}}</span>
    <a *ngIf="page-1!=paginator.number" class="page-link" [routerLink]="['/clientes/page', page - 1]">{{page}}</a>
  </li>
  <li class="page-item" *ngIf="paginator.last" [ngClass]="paginator.number == paginator.totalPages - 1?'disabled page-item':'page-item'">
    <a class="page-link" [routerLink]="['/clientes/page', paginator.totalPages - 1]">Last page</a>
  </li>
  <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
    <a class="page-link" [routerLink]="['/clientes/page', paginator.number + 1]">&raquo;</a>
  </li>
</ul>
