<div class="abrir-modal animation fadeIn" *ngIf="modalService.showModal">
  <div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul *ngIf="client" class="list-group mb-3">
                  <li class="list-group-item">Name: {{client.name}}</li>
                  <li class="list-group-item">Lastname: {{client.lastname}}</li>
                  <li class="list-group-item">Email: {{client.email}}</li>
                  <li class="list-group-item">Create At: {{client.createAt | date:"fullDate"}}</li>
                  <li class="list-group-item">Update At: {{client.updateAt | date:"fullDate"}}</li>
                  <li class="list-group-item">Region: {{client.region.name}}</li>
                </ul>
                <div class="input-group mb-3">
                  <input (change)="selectPicture($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  <label class="input-group-text" for="inputGroupFile04">Upload</label>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <button (click)="uploadPicture()" [disabled]="!selectedPicture" type="button" class="btn btn-primary">Save</button>
                  </div>
                </div>
                <div *ngIf="progress > 0" class="progress" style="width: 40px;" role="progressbar" aria-label="Example with label" attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" [ngStyle]="{width: progress + '%'}">{{ progress }}%</div>
                </div>
              </div>
              <div class="col-sm">
                <img *ngIf="client?.photo" src="http://localhost:8080/api/clients/uploads/img/{{client?.photo}}" alt="" class="img-thumbnail img-fluid rounded" width="300">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
