<div class="alert alert-danger" *ngIf="errors.length > 0">
  <ul>
    <li *ngFor="let err of errors">{{ err }}</li>
  </ul>
</div>
<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="form-group row mb-3">
        <label for="" class="col-sm-2 col-form-label">Nombre: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" type="text" [(ngModel)]="cliente.name" name="name" #name="ngModel"> <!-- required  minlength="4" -->
            <div class="alert alert-danger" *ngIf="name.invalid && (name.touched || name.dirty)">
              <div *ngIf="name.hasError('required')">
                El nombre es obligatorio
              </div>
              <div *ngIf="name.hasError('minlength')">
                El nombre debe tener al menos 4 caracteres
              </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="" class="col-sm-2 col-form-label">Apellido: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" type="text" [(ngModel)]="cliente.lastname" name="lastname" #lastname="ngModel"> <!-- required  minlength="4" -->
          <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
            <div *ngIf="lastname.hasError('required')">
              El apellido es obligatorio
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="" class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-6">
          <input type="text" class="form-control" type="text" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!-- required  email -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.touched || email.dirty)">
            <div *ngIf="email.hasError('required')">
              El correo es obligatorio
            </div>
            <div *ngIf="email.hasError('email')">
              Formato del correo electrónico no valido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="" class="col-sm-2 col-form-label">Fecha de registro: </label>
        <div class="col-sm-6">
          <input matInput [matDatepicker]="createAtDatePiker" class="form-control" type="text" [(ngModel)]="cliente.createAt" name="createAt" #createAt="ngModel" style="display: inline;width: 300px;">
          <mat-datepicker-toggle matIconSuffix [for]="createAtDatePiker"></mat-datepicker-toggle>
          <mat-datepicker #createAtDatePiker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Region: </label>
        <div class="col-sm-6">
          <select [compareWith]="compareRegion" class="form-control" type="text" [(ngModel)]="cliente.region" name="region" #region="ngModel" style="width: 400px;">
            <option *ngFor="let region of regions" [ngValue]="region"> {{region.name}}</option>
          </select>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" (click)="create()" *ngIf="!cliente.id else elseBlock" [disabled] = "!clienteForm.form.valid">Save</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary" (click)="update()" [disabled] = "!clienteForm.form.valid">Update</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
